<body id ="cover_image">

<h3><%= link_to("Find Jobs", "/jobs/")%></h3>
<h3><%= link_to("Create Jobs", "/jobs/new")%></h3>
<h3><%= link_to("Find Boats", "/boats/")%></h3>
<h3><%= link_to("Create Boats", "/boats/new")%></h3>

</body>
